.topnav {
    overflow: hidden;
    background-color: deepskyblue;
  }

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    color: black;
}

.topnav a:hover {
    background-color: rgb(128, 223, 255);
}

h1, h2, h3, p, .form {
    text-align: left;
    position: relative;
    left: 50px;
}